@import "../../app.component.less";
@width: 330px;

.main_container {
  background-color: @background_color_1;
  width: 100vw;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.logo_container {
  width: 242px;
  height: 95px;
  position: absolute;
  top: 153px;
}

.email_container {
  width: @width;
  height: 56px;
  position: absolute;
  top: 288px;
}

.password_container {
  width: @width;
  height: 56px;
  position: absolute;
  top: 363px;
}

.ingresar_container {
  width: 186px;
  height: 40px;
  position: absolute;
  top: 516px;
}

.forget_container {
  width: @width;
  height: 20px;
  position: absolute;
  top: 425px;
  display: flex;
  justify-content: right;
}

.remember_container {
  width: @width;
  height: 48px;
  position: absolute;
  top: 449px;
  display: flex;
  justify-content: left;
}

.register_container {
  width: 173px;
  height: 40px;
  position: absolute;
  top: 653px;
}
.ei107_3067_17_1400 {
  width: 173px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.ei107_3067_17_1400_51631_4926 {
  width: 173px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei107_3067_17_1400_50716_11374 {
  color: @color_2;
  opacity: 0.800000011920929;
  width: 149px;
  height: 20px;
  position: absolute;
  left: 12px;
  top: 10px;
  font-family: @font_family_1;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.10000000149011612;
  line-height: px;
}
.not_account_container {
  width: 239px;
  height: 20px;
  position: absolute;
  top: 633px;
}

.modal_background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remember_modal_container {
  width: 360px;
  height: 245px;
}

.remember_modal_email_container {
  width: 328px;
  height: 56px;
  position: absolute;
  top: 115px;
}

.remember_modal_remember_button_container {
  width: 190px;
  height: 40px;
  position: absolute;
  top: 190px;
}

.remember_confimation_modal_container {
  width: 360px;
  height: 182px;
}

.register_modal_container {
  width: 360px;
  height: 318px;
}

.register_modal_email_container {
  width: 328px;
  height: 56px;
  position: absolute;
  top: 125px;
}

.register_modal_password_container {
  width: 328px;
  height: 56px;
  position: absolute;
  top: 190px;
}

.register_modal_register_button_container {
  width: 190px;
  height: 40px;
  position: absolute;
  top: 265px;
}

.register_confimation_modal_container {
  width: 360px;
  height: 182px;
}
